@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;1,400;1,500&family=Open+Sans:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600&display=swap');
 ::-webkit-scrollbar {
  width: 12.5px;
}

 ::-webkit-scrollbar-track {
  background: #cfd8dc;
}

 ::-webkit-scrollbar-thumb {
  background: #90a4ae;
  border-radius: 6px;
  border: 3.2px solid #cfd8dc;
}

 ::-webkit-scrollbar-thumb:hover {
  background: #89979e;
}

 ::-webkit-scrollbar-thumb:active {
  background: #69747a;
}

html * {
  padding: 0;
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.header-left a{
  flex-grow: 1;
  color: #fff;
  text-decoration: none;
}

.header-right {
  color: #fff;
  text-decoration: none;
}

/*-----------------------------------------------------*/
.content {
  margin: 20px auto;
  padding: 0 20px;
  text-align: center;
}

h2, h3 {
  margin-bottom: 10px;
}

/*-----------------------------------------------------*/
.lang-container {
  justify-content: center;
  align-content: center;
  justify-content:center;
  align-items: center;
  font-size: 12px;
  padding: 12px;
}

.lang {
  
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  background-color: #ffffff;
  padding: 5px 8px;
  border-radius: 4px;
  width: 120px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Menambahkan bayangan jatuh */
  border: 1px solid #000000; /* Menambahkan stroke biru */
  color: #000000; /* Mengubah warna teks menjadi biru */
}

.left-lang {
  left: 0;
}

.right-lang {
  right: 0;
}

.fa-exchange-alt {
  justify-content:center;
  align-items: center;
  font-size: 12px;
  background-color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
  padding: 12px;
  border-radius: 50%;
  border: 1px solid #000000;
  transition: 0.3s;
  cursor: pointer;
}

.fa-exchange-alt:hover {
  background-color: #4a8db9;
}

/*-----------------------------------------------------*/

.container {
  display: flex;
}

.input-container,
.result-container {
  box-sizing: border-box;
  width: 50%;
  padding: 10px; /* Sesuaikan dengan kebutuhan Anda */
  border-radius: 6px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Menambahkan bayangan jatuh */
  border: 1px solid #000000; /* Menambahkan stroke biru */
  color: #000000; /* Mengubah warna teks menjadi biru */
  
}

.input,
.result {
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

/* Contoh gaya tambahan untuk tampilan yang lebih baik */
.input-container {
  background-color: #e0e0e0;
  border: 1px solid #ccc;
}

.result-container {
  background-color: #e0e0e0;
  border: 1px solid #ccc;
}

.input-container>textarea,
.result-container>textarea {
  width: calc(100% - 30px);
  height: 250px;
  background-color: #e2e2e2;
  border-radius: 6px;
  border: 1px solid #000000;
  font-size: 1em;
  padding: 15px;
  resize: none;
}

.input-container>textarea:focus,
.result-container>textarea:focus {
  outline: 2px solid #000000;
}

/*-----------------------------------------------------*/

.Sumber-Utama {
  
  max-width: 100%; /* Sesuaikan dengan lebar maksimum yang Anda inginkan */
  margin: 0 auto; /* Ini untuk memusatkan div jika ada ruang tersisa di sisi kiri dan kanan */
  
}

.Sumber-Utama p {
  text-align: justify;
  margin: 0; /* Menghapus margin bawaan pada elemen h3 */
  padding: 10px; /* Sesuaikan dengan padding yang diinginkan */
}

.Sumber-Utama a {
  color: #000000; /* Ganti dengan kode warna yang diinginkan */
  text-decoration: none;
}

.Sumber-Utama a:hover{
  text-decoration: underline;
  transition: 0.3s;
  color: #1900ff;
}


/*-----------------------------------------------------*/
.garis-pemisah {
  width: 100%;
  border-top: 1px solid #ddd; /* warna garis pemisah */
  margin: 20px 0;
}

.Jarak-Baris {
  margin-bottom: 80px;;
}
/*-----------------------------------------------------*/
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
/*-----------------------------------------------------*/
.footer a {
  color: #fff; /* Ganti dengan kode warna yang diinginkan */
  text-decoration: none;
}

.footer a:hover{
  text-decoration: underline;
  transition: 0.3s;
  color: #1900ff;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer1 {
  font-size: 12px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p{
  color: #ffffff;
  font-size: 20px;
  
}



